[Unit]
Description=Discord What Bot
After=network.target
Wants=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/local/bin/what-bot/bot-linux-x64
KillSignal=SIGINT
EnvironmentFile=/usr/local/bin/what-bot/token.env

[Install]
WantedBy=default.target