[Unit]
Description=Discord What Bot
After=network.target
Wants=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=90
ExecStart=/usr/local/bin/what-bot/bot-linux-arm64
KillSignal=SIGINT
EnvironmentFile=/usr/local/bin/what-bot/token.env
StandardOutput=journal+console
StandardError=inherit


[Install]
WantedBy=default.target